@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", cursive;
}
[class|="bottom"] {
  position: absolute; /* this is for setting the footer to the bottem of the page */
  bottom: 20px;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0e8aa0;
}
.container {
  position: relative;
  max-width: 460px;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 30px;
  margin: 0 20px;
  box-shadow: 17px 17px 10px rgba(243, 24, 24, 0.2); /* shadow of the container */
}
.container .input-box {
  /* input box is at relative postion of whole container */
  position: relative;
}
.input-box .show_hide {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #707070;
  padding: 5px;
  cursor: pointer;
}
.input-box input {
  height: 60px;
  width: 100%;
  border: 2px solid #d3d3d3;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  padding: 0 50px 0 16px;
}
.container .indicator {
  display: none; /* if nothing is in text box nothing will be shown up*/
}
.container .indicator.active {
  display: block;
  margin-top: 14px;
}
.indicator .icon-text {
  display: flex;
  align-items: center;
}
.icon-text .error_icon {
  margin-right: 8px;
}
.icon-text .text {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.8 px;
}
